@{
    ViewBag.Title = "Home Page";
}



<div class="row">
   <div class="col-md-12">
       <table class="table table-hover">
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Email</th>
                   <th>Password</th>
                   <th>Education</th>
                   <th>Hobbbies</th>
                   <th>Gender</th>
                   <th>DOB</th>
                   <th>IsActive</th>
                   <th>Date Of Creation</th>
               </tr>
           </thead>
           <tbody>
               @if (ViewBag.user != null)
               {
                   foreach (var item in ViewBag.user)
                   {
                       <tr>
                           <td>@item.Name</td>
                           <td>@item.Email</td>
                           <td>@item.Password</td>
                           <td>@item.Education</td>
                           <td>@item.Hobbies</td>
                           <td>@item.Gender</td>
                           <td>@item.DOB</td>
                           <td>@item.IsActive</td>
                           <td>@item.CreatedDate</td>
                       </tr>
                   }
               }
                else
                {
                    <tr><td>No Data Found!</td></tr>
                }
           </tbody>
       </table>
   </div>
</div>